@font-face {
    font-family: Belleza;
    src: url('custom-font/Belleza-regular.ttf');
}

@font-face {
    font-family: Open Sans;
    src: url('custom-font/OpenSans-Regular.ttf');
}

@font-face {
    font-family: Charm;
    src: url('custom-font/Charm-Regular.ttf');
}

* {
    font-family: Open Sans;
}

.single-font-brand-name {
    font-family: Belleza;
}

.single-font-title-about-us {
    font-family: Charm;
}

.colorSingle1 {
    color: #E5B710;
}

.bgColor-btn {
    background-color: #E5B710;
}

.shadow-btn {
    box-shadow: 2px 2px 8px rgba(196, 193, 193, 0.733);
}

.media-icons {
    font-size: 5em;
}

/*Section Home*/

/*Style banner*/
#banner {
    position: relative;
    background-color: #0D0D0F;
    z-index: 0;
}

#banner::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(229, 183, 16, 0.205);
}

@media (max-width: 768px) {
    #banner {
        background-color: #E5B710;
    }
    #search-bar {
        background-color: white;
    }

    
}

/*end Style banner*/

#section-home {
    border-top: solid lightgrey 3px;
    background: url("images/gomage.png") center border-box;
    background-size: cover;
}

#section-home  .div-nav {
    background-color: rgba(229, 183, 16, 0.26);
}

#section-home  .div-nav nav {
    background-color: rgba(49, 39, 4, 0.411);
}

#section-home  .home-others {
    background-color: rgba(0, 0, 0, 0.34);
}

.custom-border {
    border: solid 3px;
}

#home-chevron-down:hover {
    background-color: #E5B710;
}
/*end Section Home*/


/*Section About us*/
#about-us .about-us-imgs:last-child {
    top: -15%;
    z-index: 1;
}


.about-us_icon-box1 {
    width: 180px;
    height: 180px;
    background: url('images/femme.png') border-box 30% no-repeat, url('images/homme.png') no-repeat 70%, #E5B710;
}

.about-us_icon-box2 {
    width: 180px;
    height: 180px;
    background: url('images/stone.png') border-box center no-repeat, #E5B710;
}

.about-us_icon-box3 {
    width: 180px;
    height: 180px;
    background: url('images/mains-bas.png') border-box center 80% no-repeat, url('images/mains-haut.png') no-repeat center 40%, #E5B710;
}
/*end Section About us*/

/*Section Products*/
.active-filter-products {
    border-bottom: solid 2px #E5B710;
}
/*end Section Products*/

/*Section superfluous*/
#superfluous {
    background: url('images/massage-baton.jpg') center border-box;
    background-size: cover;
}
/*end Section superfluous*/

/*Section Blog*/
.blog-content-box {
    width: 97%;
    position: relative;
    top: -5%;
    border-radius: 15px;
    box-shadow: 0px 7px 5px rgba(211, 208, 208, 0.452);
}
/*end Section Blog*/

/*Section contact-us*/
#contact-us-block_web,
#contact-us-block_mobile {
    background-color: black;
}
#contact-us-block textarea {
    border: solid 2px #E5B710;
}
/*end Section contact-us*/